openapi: 3.0.1
info:
  title: UN COMTRADE API v1
  description: |
    APIs to get trade data and metadata. A subscription key is required. 
    See examples at https://bit.ly/42JNSaZ
    Learn more about our subscriptions at https://uncomtrade.org/docs/subscriptions/
  version: v1
servers:
  - url: https://comtradeapi.un.org/data/v1
    description: UN COMTRADE v1 API Production Server
paths:
  /getLiveUpdate:
    get:
      summary: Get Live Update
      description: Returns information about live updates to the UN COMTRADE database
      operationId: get-getliveupdate
      responses:
        '200':
          description: Success
          
  '/getTariffline/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: Get Tariffline Data
      description: Get detailed tariff line trade data
      operationId: get-gettariffline
      parameters:
        - name: typeCode
          in: path
          description: 'Type of trade: C for commodities and S for service'
          required: true
          schema:
            enum:
              - C
              - S
            type: string
        - name: freqCode
          in: path
          description: 'Trade frequency: A for annual and M for monthly'
          required: true
          schema:
            enum:
              - A
              - M
            type: string
        - name: clCode
          in: path
          description: 'Trade (IMTS) classifications: HS, SITC, BEC or EBOPS'
          required: true
          schema:
            enum:
              - HS
              - H6
              - H5
              - H4
              - H3
              - H2
              - H1
              - H0
              - S4
              - S3
              - S2
              - S1
              - BE
              - BE5
              - EB
              - EB10
              - EB02
              - EBSDMX
            type: string
        - name: reporterCode
          in: query
          description: 'Reporter code (M49 code of the countries separated by comma)'
          schema:
            type: string
        - name: period
          in: query
          description: 'Year or month. Year should be 4 digit year. Month should be six digit integer with the values of the form YYYYMM. Ex: 201002 for 2010 February'
          schema:
            type: string
        - name: partnerCode
          in: query
          description: 'Partner code (M49 code of the countries separated by comma)'
          schema:
            type: string
        - name: cmdCode
          in: query
          description: 'Commodity code. Multi value input should be in the form of csv'
          schema:
            type: string
        - name: flowCode
          in: query
          description: 'Trade flow code (M for imports, X for exports, etc.)'
          schema:
            enum:
              - '-1'
              - M
              - X
              - RX
              - RM
              - MIP
              - XIP
              - MOP
              - XOP
              - MIF
              - XIF
              - DX
              - FM
            type: string
        - name: includeDesc
          in: query
          description: Include descriptions of data variables
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          
  '/get/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: Get Trade Data
      description: Extract trade data in a basic layout. See https://uncomtrade.org/docs/list-of-references-parameter-codes/
      operationId: get-get
      parameters:
        - name: typeCode
          in: path
          description: 'Type of trade: C for commodities and S for service'
          required: true
          schema:
            enum:
              - C
              - S
            type: string
        - name: freqCode
          in: path
          description: 'Trade frequency: A for annual and M for monthly'
          required: true
          schema:
            enum:
              - A
              - M
            type: string
        - name: clCode
          in: path
          description: 'Trade (IMTS) classifications'
          required: true
          schema:
            enum:
              - HS
              - TM
            type: string
        - name: reporterCode
          in: query
          description: 'Reporter code (M49 code of the countries separated by comma)'
          schema:
            type: string
        - name: period
          in: query
          description: 'Year (YYYY) or Month (YYYYMM)'
          schema:
            type: string
        - name: partnerCode
          in: query
          description: 'Partner code (M49 code of the countries separated by comma)'
          schema:
            type: string
        - name: cmdCode
          in: query
          description: 'Commodity code'
          schema:
            type: string
        - name: flowCode
          in: query
          description: 'Trade flow code'
          schema:
            enum:
              - '-1'
              - M
              - X
              - RX
              - RM
            type: string
        - name: includeDesc
          in: query
          description: Include descriptions of data variables
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          
  '/getMetadata/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: Get Metadata
      description: Get metadata for specified trade classification
      operationId: getmetadata
      parameters:
        - name: typeCode
          in: path
          required: true
          schema:
            enum:
              - C
              - S
            type: string
        - name: freqCode
          in: path
          required: true
          schema:
            enum:
              - A
              - M
            type: string
        - name: clCode
          in: path
          required: true
          schema:
            enum:
              - HS
              - SITC
              - BEC
              - EBOPS
            type: string
      responses:
        '200':
          description: Success

components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
      description: API subscription key for UN COMTRADE v1 API
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
      description: API subscription key (alternative to header)
      
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
